@font-face {
  font-family: 'Century Gothic';
  src: url('./fonts/century-gothic.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('./fonts/century-gothic-bold.ttf') format('truetype');
  font-weight: 700;
}

body {
  font-family: Century Gothic, serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}

button {
  border: none;
  background: transparent;
  padding: 8px;
}
