@import "./colors.scss";

.top-banner {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  height: 40px;
  background: $black;

  span {
    color: $white;
    font-weight: 700;
  }
}

header {
  position: relative;

  nav {
    position: relative;
    z-index: 1;
    display: flex;
    height: 78px;
    justify-content: space-between;
    align-items: center;
    padding: 0 18px;
    background: $white;
    box-shadow: $bottomBoxShadow;

    .icon-button {
      border: none;
      background: transparent;
      padding: 8px;
    }

    .left-nav-container {
      display: flex;
      position: relative;

      #burgerButton {
        position: relative;

        .open-icon {
          opacity: 1;
          transition: 0.5s;
        }

        .close-icon {
          opacity: 0;
          transition: 0.5s;
          margin: auto;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
        }

        &.active {
          .open-icon {
            opacity: 0;
          }

          .close-icon {
            opacity: 1;
          }
        }
      }
    }

    .logo-container {
      img {
        height: 28px;
      }
    }
  }

  #burgerContainer {
    opacity: 0;
    transition: 0.5s;
    position: absolute;
    z-index: 0;
    background: white;
    box-shadow: $rightBoxShadow;
    width: 258px;

    .burger-content {
      display: flex;
      padding: 23px;
      flex-direction: column;

      a {
        color: black;
        text-decoration: none;
        line-height: 48px;
        letter-spacing: 0.05em;
      }

      .break {
        padding: 20px 0;
      }
    }

    &.active {
      opacity: 1;
    }
  }
}
